@{
    ViewData["Title"] = "Dashboard";
}
<form id="entradaVeiculos">
    <div class="row" style="display: flex;">
        <div class="col-2">

            <input class="form-control" type="text" id="placaEntradaPatio" placeholder="Placa veículo">
        </div>
        <div class="col-3">

            <input class="form-control" list="datalistOptions" id="tipoEntradaPatio" placeholder="Digite o tipo">
            <datalist id="datalistOptions">
                <option value="Moto"></option>
                <option value="Carro"></option>
                <option value="Caminhão"></option>
            </datalist>
        </div>
        <div class="col-4">

            <input class="form-control" type="text" id="descricaoEntradaPatio" placeholder="Descrição">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Entrar com Veiculo</button>
        </div>
    </div>
</form>
<div class="row mt-3">
    <h4>Veículos ativos no pátio</h4>
</div>

<div class="row " id="cardContainer" style="display: flex; flex-wrap: wrap; justify-content:flex-start">

</div>




@section Scripts{
<script>

    var urlListaClientes = '@Url.Action("ListarClientesAtivos", "Home")';
    var urlCadastrarVeiculo = '@Url.Action("InserirCliente","Home")';
</script>

<script type="text/javascript" src="/js/js-countdown/jquery.plugin.js"></script>
<script type="text/javascript" src="js/js-countdown/jquery.countdown.js"></script>
<script type="text/javascript" src="/js/paginaPrincipal.js"></script>


}