@{
    ViewData["Title"] = "Dashboard";
}
<form id="entradaVeiculos">
    <div class="row" style="display: flex;">
        <div class="col-2">

            <input class="form-control" type="text" id="placaEntradaPatio" placeholder="Placa veículo">
        </div>
        <div class="col-3">

            <input class="form-control" list="datalistOptions" id="tipoEntradaPatio" placeholder="Digite o tipo">
            <datalist id="datalistOptions">
                <option value="1 - Moto"></option>
                <option value="2 - Carro"></option>
                <option value="3 - Caminhão"></option>
                <option value="4 - Bicicleta"></option>
            </datalist>
        </div>
        <div class="col-4">

            <input class="form-control" type="text" id="descricaoEntradaPatio" placeholder="Descrição">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Entrar com Veiculo</button>
        </div>
    </div>
</form>
<h4 class="center">Veículos ativos no pátio</h4>
<div class="row" style="display: flex; flex-wrap: wrap; justify-content:flex-start">
    <div id="cardCreator" class="card border-primary" style="width: 20rem; margin-right: 0.5vw; ">
    </div>
</div>




@section Scripts{
    <script>

      var urlListaClientes = '@Url.Action("ListarClientesAtivos", "Home")';
    </script>

    <script type="text/javascript" src="/js/js-countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/js-countdown/jquery.countdown.js"></script>
    <script type="text/javascript" src="/js/paginaPrincipal.js"></script>


}