@{
    ViewData["Title"] = "Dashboard";
}
<h4 class="center">Veículos ativos no estacionamento</h4>
<div class="row" style="display: flex; flex-wrap: wrap; justify-content:flex-start">

    <div class="card border-primary" style="width: 20rem; margin-right: 0.5vw;">
        <div class="card-body">
            <h5 class="card-title">Nome do Cliente</h5>
            <p class="card-text">Tipo do veículo: MOTO</p>
            <p class="card-text">Placa do veículo: <b>HEJ0225</b></p>
            <a href="#" class="btn btn-primary "> Fechar Conta</a>
        </div>
        <div class="card-footer">
            <small>Tempo no estacionamento: <b><span id="countdown" style="display:inline-block"> </span></b> </small>
        </div>
    </div>

    <div class="card border-primary" style="width: 20rem; margin-right: 0.5vw; ">
        <div class="card-body">
            <h5 class="card-title">Nome do Cliente</h5>
            <p class="card-text">Tipo do veículo: MOTO</p>
            <p class="card-text">Placa do veículo: <b>HEJ0225</b></p>
            <a href="#" class="btn btn-primary "> Fechar Conta</a>
        </div>
        <div class="card-footer">
            <small>Tempo no estacionamento: <b><span id="countdown" style="display:inline-block"> </span></b> </small>
        </div>
    </div>
    <div class="card border-primary" style="width: 20rem; margin-right: 0.5vw;">
        <div class="card-body">
            <h5 class="card-title">Nome do Cliente</h5>
            <p class="card-text">Tipo do veículo: MOTO</p>
            <p class="card-text">Placa do veículo: <b>HEJ0225</b></p>
            <a href="#" class="btn btn-primary "> Fechar Conta</a>
        </div>
        <div class="card-footer">
            <small>Tempo no estacionamento: <b><span id="countdown" style="display:inline-block"> </span></b> </small>
        </div>
    </div>

    <div class="card border-primary" style="width: 20rem; margin-right: 0.5vw;">
        <div class="card-body">
            <h5 class="card-title">Nome do Cliente</h5>
            <p class="card-text">Tipo do veículo: MOTO</p>
            <p class="card-text">Placa do veículo: <b>HEJ0225</b></p>
            <a href="#" class="btn btn-primary "> Fechar Conta</a>
        </div>
        <div class="card-footer">
            <small>Tempo no estacionamento: <b><span id="countdown" style="display:inline-block"> </span></b> </small>
        </div>
    </div>


    <div class="card border-primary" style="width: 20rem; margin-right: 0.5vw;">
        <div class="card-body">
            <h5 class="card-title">Nome do Cliente</h5>
            <p class="card-text">Tipo do veículo: MOTO</p>
            <p class="card-text">Placa do veículo: <b>HEJ0225</b></p>
            <a href="#" class="btn btn-primary "> Fechar Conta</a>
        </div>
        <div class="card-footer">
            <small>Tempo no estacionamento: <b><span id="countdown" style="display:inline-block"> </span></b> </small>
        </div>




        <!-- End Col -->
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="/js/js-countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/js-countdown/jquery.countdown.js"></script>

    <script>
        var tempo = new Date('May 07, 2022 03:15:30')
        $('#countdown').countdown({ since: tempo, compact: true, format: 'HMS' });
    </script>

}